/* UL Style */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 2px solid grey;
    width: 200px;
    max-height: 150px;        /* Kufizon lartësinë */
    overflow-y: auto;         /* Scroll vertikal */
}

ul li {
    padding: 8px 16px;
    border-bottom: 1px solid grey;
    transition: 0.3s;
}

/* Tek dhe qift */
ul li:nth-child(odd) {
    background-color: #f2f2f2;
}

ul li:nth-child(even) {
    background-color: #dcdcdc;
}

/* Hover efekt */
ul li:hover {
    background-color: #999;
    color: white;
}

/* Heq border nga elementi i fundit */
ul li:last-child {
    border-bottom: none;
}


/* OL Style */
ol {
    background-color: #ffeeee;
    padding: 15px;
}

ol li {
    padding: 5px;
    margin-bottom: 5px;
    transition: 0.3s;
}

ol li:nth-child(odd) {
    background-color: #ffe555;
}

ol li:nth-child(even) {
    background-color: #ffcc00;
}

ol li:hover {
    background-color: orange;
}


/* Table Style */
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

/* Wrapper për overflow horizontal */
.table-container {
    overflow-x: auto;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
}

thead {
    background-color: #ddd;
}

tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

tbody tr:nth-child(even) {
    background-color: #e0e0e0;
}

tbody tr:hover {
    background-color: #bbb;
}
